page-home {
    .card-background-page{
        background-image: url(../../assets/imgs/beach.jpg);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        line-height: 285px;
        height: 285px;
    }

    .card-background-page-2{
        background-image: url(../../assets/imgs/fea.jpg);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        line-height: 285px;
        height: 285px;
    }
    .content{
        .button-inner{
            color: aliceblue;
        }
    }
    

    .button-md{
        font-size: 2rem;
    }

    .scroll-content{
        background-image: linear-gradient(90deg, #d63a40 11.76%, #b4e3ff 11.76%, #b4e3ff 23.53%, #16c934 23.53%, #16c934 26.47%, #ffa137 26.47%, #ffa137 38.24%, #F6F0CF 38.24%, #F6F0CF 50%, #d63a40 50%, #d63a40 61.76%, #b4e3ff 61.76%, #b4e3ff 73.53%, #16c934 73.53%, #16c934 76.47%, #ffa137 76.47%, #ffa137 88.24%, #F6F0CF 88.24%, #F6F0CF 100%);
    }

}
