<!--
  Generated template for the ImageSlidePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lista de imágenes {{ type }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only clear (click)="takePhoto()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding #content>
 <ion-slides pager="false" #slides>
   <ion-slide class="animated slideInDown" *ngFor="let photo of images | async; let id = index">
    <!-- <ion-card>
      <img [src]="photo.image64Data" *ngIf="photo.image64Data" imageViewer/>
      <ion-card-content>
        <ion-card-title>
          {{photo.displayName}}
        </ion-card-title>
      </ion-card-content>
    </ion-card> -->
    <ion-card class="card-background-page">
      <img [src]="photo.image64Data" *ngIf="photo.image64Data" imageViewer/>
      <!-- <div class="card-title"></div> -->
      <div class="card-subtitle">{{photo.displayName}}</div>
    </ion-card>
   </ion-slide>
 </ion-slides>

</ion-content>